In [5]:
import pandas as pd

# read SAS XPORT files using pandas.read_sas with format='xport'
demo = pd.read_sas("../data/raw/DEMO_L.XPT", format="xport")
hba1c = pd.read_sas("../data/raw/GHB_L.XPT", format="xport")
diabetes = pd.read_sas("../data/raw/DIQ_L.XPT", format="xport")

demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVSTRA,SDMVPSU,INDFMPIR
0,130378.0,12.0,2.0,1.0,43.0,NaN,5.0,6.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,50055.450807,54374.463898,173.0,2.0,5.00
1,130379.0,12.0,2.0,1.0,66.0,NaN,3.0,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,29087.450605,34084.721548,173.0,2.0,5.00
2,130380.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,80062.674301,81196.277992,174.0,1.0,1.41
3,130381.0,12.0,2.0,2.0,5.0,NaN,5.0,7.0,1.0,71.0,...,2.0,2.0,2.0,3.0,NaN,38807.268902,55698.607106,182.0,2.0,1.53
4,130382.0,12.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,34.0,...,2.0,2.0,3.0,1.0,2.0,30607.519774,36434.146346,182.0,2.0,3.60

In [11]:
women = demo[demo['RIAGENDR']==2]

In [14]:
# Merge demo and hba1c on SEQN
merged = pd.merge(women, hba1c, on='SEQN', how='inner')
# Merge the result with diabetes on SEQN
merged = pd.merge(merged, diabetes, on='SEQN', how='inner')
# Display the first few rows of the merged dataset
merged.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,WTPH2YR,LBXGH,DIQ010,DID040,DIQ160,DIQ180,DIQ050,DID060,DIQ060U,DIQ070
0,130380.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,...,85328.844519,6.2,1.0,35.0,NaN,NaN,2.0,NaN,NaN,1.0
1,130387.0,12.0,2.0,2.0,68.0,NaN,3.0,3.0,2.0,NaN,...,22746.296353,5.9,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN
2,130388.0,12.0,2.0,2.0,27.0,NaN,4.0,4.0,1.0,NaN,...,32864.290882,4.9,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN
3,130390.0,12.0,2.0,2.0,31.0,NaN,3.0,3.0,2.0,NaN,...,61427.007628,5.9,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN
4,130391.0,12.0,2.0,2.0,33.0,NaN,3.0,3.0,2.0,NaN,...,63943.874711,5.4,2.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN

In [15]:
# Define diabetes risk label
# HbA1c column is usually named 'LBXGH' or similar in NHANES GHB_L.XPT
# Self-reported diabetes is usually in DIQ010 (1 = Yes)

# Adjust column names if needed based on your dataset
merged['diabetes_risk'] = ((merged['LBXGH'] >= 6.5) | (merged['DIQ010'] == 1)).astype(int)

# Show the first few rows with the new label
merged[['SEQN', 'LBXGH', 'DIQ010', 'diabetes_risk']].head()

       SEQN  LBXGH  DIQ010  diabetes_risk
0  130380.0    6.2     1.0              1
1  130387.0    5.9     2.0              0
2  130388.0    4.9     2.0              0
3  130390.0    5.9     2.0              0
4  130391.0    5.4     2.0              0